body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loan-request-container {
    width: 100%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loan-form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
    width: 95%;
}

.input-group label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.confirm-btn, .back-btn {
    background-color: #3A5A40;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%; /* Make buttons half-width to fit in a single line */
}

.confirm-btn:hover, .back-btn:hover {
    background-color: #444;
}